---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Sobre mim"
  description="Descrição"
  pubDate={new Date("August 16 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Eu sou um Full-stack Unicorn Designer, isso significo que não tenho um
    estilo específico, pois os verdadeiros designers e desenvolvedores se
    adaptam aos clientes. Sou apaixonado por criar e projetar experiências
    encantadoras por meio de uma combinação de negócios, branding, marketing,
    desenvolvimento e design UX/UI para manter os clientes e usuários
    satisfeitos com seus produtos e serviços online. Vou me esforçar ao máximo
    para criar algo que aprimore sua marca e conte sua história - não a minha.
  </p>
</Layout>
